#best-five{
    height: 400px;
    padding-top: 150px;
}

/* #photo{
    max-width: 140%;
    height: 50%;
    object-fit: contain;
} */

#calculate-button{
    margin-left: 150px;
    margin-top: 20px;
}

#calculate-total{
    margin-left: 120px;
    margin-top: 20px;
}

#total{
    margin-left: 100px;
}

   
/* // console.log('Js file connected')
// document.getElementById('disabled-button').addEventListener('click',function(){
//   const newButton= document.getElementById('disabled-button').innerHTML;
//   console.log(newButton);
// }) */


/* //   const costOffTotalPlayers = perPlayerCostValue  */