#best-five{
    height: 400px;
    padding-top: 150px;
}

#calculate-button{
    margin-left: 140px;
    margin-top: 20px;
}

#calculate-total{
    margin-left: 120px;
    margin-top: 20px;
}

#total{
    margin-left: 100px;
}
